body{
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
}


.container{
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 700px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

form{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

form input{
    padding: 10px;
    flex: 1;
}

form button{
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover{
    background-color: #218838;
}

table{
    width: 100%;
    border-collapse: collapse;
}

table th, table td{
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}


table td button{
    padding: 5px 10px;
    margin: 0 5 px;
    border: none;
    cursor: pointer;
}

.edit-btn{
    background-color: #007bff;
    color: white;
}

.delete-btn{
    background-color: #dc3545;
    color: white;
}

#messageBox {
    display: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: bold;
    transition: opacity 0.3s ease-in-out;
}

#messageBox.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

#messageBox.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}